@tailwind base;
@tailwind components;
@tailwind utilities;


.Outer button{
 width: 18vmin;
 height: 18vmin;
 background-color: gray;
 font-weight: bold;
 border-radius: 1rem;
}

#restart {
    background-color: #2563eb; /* Equivalent to bg-blue-600 */
    color: white; /* Text color */
    padding: 0.5rem 1.5rem; /* Equivalent to px-6 py-2 */
    font-size: 1.5rem; /* Equivalent to text-2xl */
    font-weight: 600; /* Equivalent to font-semibold */
    border-radius: 0.5rem; /* Equivalent to rounded-lg */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Equivalent to shadow-md */
    transition: background-color 0.3s ease; /* Equivalent to transition duration-300 */
}

#restart:hover {
    background-color: #1e40af; 
}

.hidden {
    display: none;
}
